<h1>Welcome to E-175 Cloud Computing</h1>
<p>Please update Amazon Web Services usage report file (csv format)</p>
<%= form_tag({:action => :upload}, :multipart => true) do %>
	<%= file_field_tag 'file' %><br/><br/>
	<%= submit_tag("Get usage summary") %>
<% end %>
