<h1>Summary of usage</h1>

<p>
	<table border="0">
	<% @results.each_key do |type| %>
	<% if !type.nil? && type != "" %>
		<tr>
			<td><%= type %></td>
			<td align="right"><%= @results[type]%></td>
		</tr>
	<% end %>
	<% end %>
	</table>
</p>
